<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Tag Manager</label>
    <label lang="en">Tag Manager</label>

    <version>2.0.3</version>
    <link>http://www.webmatch.de</link>
    <author>Webmatch GmbH</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="2.0.3">
        <changes lang="de">Fixed dataLayer structure for detail product impressions</changes>
        <changes lang="en">dataLayer Struktur für Impressionen auf der Detailseite angepasst</changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="de">dataLayer Initialisierung vor GTM Script in Header</changes>
        <changes lang="en">Placed dataLayer declaration before GTM script in header</changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de">Nutze erlaubte Modifier ab 5.2.25 in Standardkonfiguration</changes>
        <changes lang="en">Use allowed modifier only since 5.2.25 in default config</changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">Veröffentlichung Open-Source</changes>
        <changes lang="en">Release Open-Source</changes>
    </changelog>
</plugin>