<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Tag Manager</label>
    <label lang="en">Tag Manager</label>

    <version>3.3.!</version>
    <link>http://www.webmatch.de</link>
    <author>Webmatch GmbH</author>
    <compatibility minVersion="5.6.3" />

    <changelog version="3.3.1">
        <changes lang="de">Umbenennung des Github Tokens für Travis CI</changes>
        <changes lang="en">Rename Github token for Travis CI</changes>
    </changelog>

    <changelog version="3.3.0">
        <changes lang="de">Hinzufügen des Supports für den Shopware Cookie Consent Manager</changes>
        <changes lang="en">Add support for shopware cookie consent manager</changes>
    </changelog>

    <changelog version="3.2.4">
        <changes lang="de">Update für Ace Code-Editor ab Shopware 5.6</changes>
        <changes lang="en">Update for Ace code editor in Shopware 5.6</changes>
    </changelog>

    <changelog version="3.2.3">
        <changes lang="de">Cast boolean property values properly, type hinted interfaces for service decoration</changes>
        <changes lang="en">Typumwandlung boolescher Werte in Eigenschaften, typed hinted Interfaces zur Service Decoration</changes>
    </changelog>

    <changelog version="3.2.2">
        <changes lang="de">Json encodierte Smarty-Syntax wird demaskiert. Erlaubt bspw jetzt die Verwendung von doppelten Anführungszeichen: |cat:"foo"</changes>
        <changes lang="en">Json encoded Smarty-Syntax is being unescaped. Now allows the use double quotes e.g. |cat:"foo"</changes>
    </changelog>

    <changelog version="3.2.1">
        <changes lang="de">Nutze Secure Events zur Injektion von Variablen nach Forward-Requests</changes>
        <changes lang="en">Use PostDispatchSecure events for controller forwards</changes>
    </changelog>

    <changelog version="3.2.0">
        <changes lang="de">Support für dataLayer auf Basis von Widget Modulen</changes>
        <changes lang="en">Added dataLayer support for widget views through custom modules</changes>
    </changelog>

    <changelog version="3.1.0">
        <changes lang="de">Neues Feature: GET Parameters für dataLayer in der Session zwischenspeichern</changes>
        <changes lang="en">New feature: Temporary save GET parameters in session for use in dataLayer</changes>
    </changelog>

    <changelog version="3.0.2">
        <changes lang="de">Geringfügige Anpassung der Backend-Oberfläche</changes>
        <changes lang="en">Minor changes to the backend interface</changes>
    </changelog>

    <changelog version="3.0.1">
        <changes lang="de">Stellt das Tracking der ersten Seite der Suchergebnisse wieder her</changes>
        <changes lang="en">Fixed tracking of first page search results</changes>
    </changelog>

    <changelog version="3.0.0">
        <changes lang="de">Erweiterte Backend-App zur Bearbeitung von Modulen, Handling von Syntax-Fehlern, Smarty-Funktion zur Datenbankabfrage</changes>
        <changes lang="en">Extended backend app for editing modules, syntax error handling, smarty function to query the database</changes>
    </changelog>

    <changelog version="2.1.9">
        <changes lang="de">Die Werte für Felder im DataLayer können nun größer als 255 Zeichen sein</changes>
        <changes lang="en">Values for fields in datalayer may now be longer than 255 characters</changes>
    </changelog>

    <changelog version="2.1.8">
        <changes lang="de">Bugfix für mehrfache Array Iterationen</changes>
        <changes lang="en">Bugfix for multiple array iterations</changes>
    </changelog>

    <changelog version="2.1.7">
        <changes lang="de">Setzt noscript Inhalte in existierendes Element zur Vermeidung von RegEx Konflikten</changes>
        <changes lang="en">Use existing elements for noscript content to avoid regex mishaps in body</changes>
    </changelog>

    <changelog version="2.1.6">
        <changes lang="de">Behebt ein Problem bei gleichzeitiger Verwendung von Advanced Shopping Cart (thanks @akkushopJK)</changes>
        <changes lang="en">Fixes issues in combination with use of Shopware Advanced Cart (thanks @akkushopJK)</changes>
    </changelog>

    <changelog version="2.1.5">
        <changes lang="de">Unterstützung für AddToCart Event bei deaktiviertem Off-Canvas Warenkorb</changes>
        <changes lang="en">Support AddToCart Event for deactivated off-canvas basket</changes>
    </changelog>

    <changelog version="2.1.4">
        <changes lang="de">Option zur Deaktivierung der Integration auf Subshop-Ebene</changes>
        <changes lang="en">Option to deactive the integration by subshop</changes>
    </changelog>

    <changelog version="2.1.3">
        <changes lang="de">Behebt einen Fehler in Verbindung mit Conexco Bootstrap Filtern bzw ganzseitigen Ajax Requests</changes>
        <changes lang="en">Fixes a bug with the conexco bootstrap theme's ajax filter and full page ajax requests</changes>
    </changelog>

    <changelog version="2.1.2">
        <changes lang="de">Anpassung e-Commerce Tracking AddTo/removeFrom Warenkorb Events</changes>
        <changes lang="en">Adjusted AddTo/removeFrom basket events for e-commerce tracking</changes>
    </changelog>

    <changelog version="2.1.1">
        <changes lang="de">Prüfe auf eingetragene Container ID vor dataLayer Abfrage</changes>
        <changes lang="en">Check for set Container ID before dataLayer query</changes>
    </changelog>

    <changelog version="2.1.0">
        <changes lang="de">Refaktoriert für Shopware 5.3</changes>
        <changes lang="en">Refactored for Shopware 5.3</changes>
    </changelog>

    <changelog version="2.0.4">
        <changes lang="de">dataLayer Struktur für Bestellabschluss angepasst</changes>
        <changes lang="en">Fixed dataLayer structure for purchase tracking</changes>
    </changelog>

    <changelog version="2.0.3">
        <changes lang="de">dataLayer Struktur für Impressionen auf der Detailseite angepasst</changes>
        <changes lang="en">Fixed dataLayer structure for detail product impressions</changes>
    </changelog>

    <changelog version="2.0.2">
        <changes lang="de">Placed dataLayer declaration before GTM script in header</changes>
        <changes lang="en">dataLayer Initialisierung vor GTM Script in Header</changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de">Nutze erlaubte Modifier ab 5.2.25 in Standardkonfiguration</changes>
        <changes lang="en">Use allowed modifier only since 5.2.25 in default config</changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">Veröffentlichung Open-Source</changes>
        <changes lang="en">Release Open-Source</changes>
    </changelog>
</plugin>