<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="text">
            <name>wbmTagManagerContainer</name>
            <label lang="de">Container ID</label>
            <label lang="en">Container ID</label>
            <value/>
        </element>
    </elements>
</config>