<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="boolean">
            <name>wbmTagManagerActive</name>
            <label lang="de">Aktiv</label>
            <label lang="en">Active</label>
            <value>1</value>
        </element>
        <element scope="shop" type="text">
            <name>wbmTagManagerContainer</name>
            <label lang="de">Container ID</label>
            <label lang="en">Container ID</label>
            <value/>
        </element>
        <element scope="shop" type="boolean">
            <name>wbmTagManagerCookieConsent</name>
            <label lang="de">Cookie Consent Unterstützung</label>
            <label lang="en">Cookie consent support</label>
            <value>0</value>
        </element>
        <element scope="shop" type="boolean">
            <name>wbmTagManagerJsonPrettyPrint</name>
            <label lang="de">Ausgabe formatieren</label>
            <label lang="en">Format Output</label>
            <value>0</value>
        </element>
        <element scope="shop" type="textarea">
            <name>wbmTagManagerJsBefore</name>
            <label lang="de">Inline JavaScript vor GTM Snippet</label>
            <label lang="en">Inline JavaScript before GTM snippet</label>
            <value/>
            <options>
                <xtype>codemirror</xtype>
                <mode>javascript</mode>
                <height>300</height>
            </options>
        </element>
        <element scope="shop" type="textarea">
            <name>wbmTagManagerJsAfter</name>
            <label lang="de">Inline JavaScript nach GTM Snippet</label>
            <label lang="en">Inline JavaScript after GTM snippet</label>
            <value/>
            <options>
                <xtype>codemirror</xtype>
                <mode>javascript</mode>
                <height>300</height>
            </options>
        </element>
        <element scope="shop" type="textarea">
            <name>wbmSessionParameters</name>
            <label lang="de">URL Parameter zwischenspeichern</label>
            <label lang="en">Temporary saved URL parameters</label>
            <value/>
            <description lang="de"><![CDATA[
                Kommaseparierte Liste von GET Parametern die in der Session zwischengespeichert werden sollen.
                Die Parameter können dann in der dataLayer Konfiguration aus der Session gelesen werden:
                {$smarty.session.Shopware .wbmTagManager.nameDesParameters}
            ]]></description>
            <description lang="en"><![CDATA[
                Comma separated list of GET parameters that will be saved in the session temporary.
                The parameters can then be used in the dataLayer configuration by reading the session:
                {$smarty.session.Shopware .wbmTagManager.nameOfTheParameter}
            ]]></description>
        </element>
        <element scope="shop" type="text">
            <name>wbmScriptTagAttributes</name>
            <label lang="de">Script-Tag Attribute (optional/expert)</label>
            <label lang="en">Script-Tag atttributes (optional/expert)</label>
            <value/>
            <description lang="de"><![CDATA[
                Schreiben Sie die Script-Tag Attribute hier rein. Diese werden unverändert dem öffenden Script-Tag
                hinzugfügt. z.B: <br>type="text/javascript" data-some="thing"<br> wird zu
                &lt;script type="text/javascript" data-some="thing"&gt; <hr>
                Änderungen am Inhalt dieses Feldes können dazu führen, dass der Google Tag Manager nicht mehr
                ordnungsgemäß funktioniert und sollte daher nur von erfahrenden Nutzern durchgeführt werden.
            ]]></description>
            <description lang="en"><![CDATA[
                Add your Script-Tag attributes here. They will be parsed to the opening script-tag. e.g.
                <br>type="text/javascript" data-some="thing"<br> becomes
                &lt;script type="text/javascript" data-some="thing"&gt; <hr>
                Changes to the content of this field can break the funcionality of Google Tag Manager and should
                therefore only be done by experienced users.
            ]]></description>
        </element>
        <element scope="shop" type="text">
            <name>wbmExtendedURLParameter</name>
            <label lang="de">Zusätzliche URL Parameter (optional/expert)</label>
            <label lang="en">Extended URL parameter (optional/expert)</label>
            <value/>
            <description lang="de"><![CDATA[
                Schreiben Sie zusätzliche GTM-URL Paramter für Test/Staging Umgebung hier rein. Diese werden an die
                googetagmanger.com URL angehängt. z.B.
                <br>&amp;gtm_auth=sOmeR4nd0mh45h&amp;gtm_preview=env-69&amp;gtm_cookies_win=x <hr>
                Änderungen am Inhalt dieses Feldes können dazu führen, dass der Google Tag Manager nicht mehr
                ordnungsgemäß funktioniert und sollte daher nur von erfahrenden Nutzern durchgeführt werden.
            ]]></description>
            <description lang="en"><![CDATA[
                Add your extending GTM-URL parameter for test/stage environments here. These will be added to the
                googetagmanger.com URL. e.g.
                <br>&amp;gtm_auth=sOmeR4nd0mh45h&amp;gtm_preview=env-69&amp;gtm_cookies_win=x <hr>
                Changes to the content of this field can break the funcionality of Google Tag Manager and should
                therefore only be done by experienced users.
            ]]></description>
        </element>
                <element scope="shop" type="boolean">
            <name>wbmTagManagerPagespeed</name>
            <label lang="de">Pagespeed Optimierung</label>
            <label lang="en">Optimize for Pagespeed</label>
            <value>1</value>
        </element>
    </elements>
</config>
